<header
  class="border-b shadow-md p-3 w-full max-h-20 fixed top-0 z-50 bg-white"
>
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto"
  >
    <ng-container *ngIf="true">
      <ng-container *appIsAdmin>
        <img src="/images/logo1.png" alt="app logo" class="max-h-16" />
      </ng-container>
      <ng-container *appIsUser>
        <img
          routerLink="/"
          src="/images/logo1.png"
          alt="app logo"
          class="max-h-16 cursor-pointer"
        />
      </ng-container>
      <ng-container *appIsLoggedOut>
        <img
          routerLink="/"
          src="/images/logo1.png"
          alt="app logo"
          class="max-h-16 cursor-pointer"
        />
      </ng-container>
    </ng-container>

    <div class="flex items-center gap-3">
      <!-- Cart and user menu for all screen sizes -->
      <ng-container *ngIf="true">
        <ng-container *appIsUser>
          <a
            routerLink="/cart"
            routerLinkActive="active"
            matBadge="{{ cartService.itemCount() }}"
            matBadgeSize="large"
            class="custom-badge mt-2 mr-2"
          >
            <mat-icon>shopping_cart</mat-icon>
          </a>
        </ng-container>
        <ng-container *appIsLoggedOut>
          <a
            routerLink="/cart"
            routerLinkActive="active"
            matBadgeSize="large"
            class="custom-badge mt-2 mr-2"
          >
            <mat-icon>shopping_cart</mat-icon>
          </a>
        </ng-container>
      </ng-container>

      @if (accountService.currentUser()) {
      <!-- <span>{{ accountService.currentUser()?.email }}</span> -->
      <button mat-button matBadgeSize="large" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      } @else {
      <div class="hidden lg:flex gap-3">
        <button routerLink="/account/login" mat-stroked-button>Login</button>
        <button routerLink="/account/register" mat-stroked-button>
          Register
        </button>
      </div>
      }
    </div>
  </div>
</header>

@if (busyService.loading) {
<mat-progress-bar
  mode="indeterminate"
  class="fixed top-20 z-50"
></mat-progress-bar>
}

<mat-menu #menu="matMenu" class="px-5">
  <a mat-menu-item routerLink="/account/profile">
    <mat-icon>
      <span class="material-symbols-outlined"> account_circle </span>
    </mat-icon>
    <span>{{ accountService.currentUser()?.email }}</span>
  </a>
  <a mat-menu-item *appIsUser routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-menu-item *appIsUser routerLink="/shop">
    <mat-icon>store</mat-icon>
    <span>Shop</span>
  </a>
  <button *appIsUser mat-menu-item class="px-3" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    My cart
  </button>
  <button *appIsUser mat-menu-item class="px-3" routerLink="/orders">
    <mat-icon>history</mat-icon>
    My orders
  </button>
  <mat-divider *appIsUser></mat-divider>
  <a mat-menu-item *appIsAdmin routerLink="/test-error">
    <mat-icon>error</mat-icon>
    <span>Errors</span>
  </a>
  <a mat-menu-item *appIsAdmin routerLink="/admin">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Admin</span>
  </a>
  <a mat-menu-item *appIsEditor routerLink="/editor">
    <mat-icon>edit</mat-icon>
    <span>Product Management</span>
  </a>
  <button mat-menu-item class="px-3" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
