<div class="flex mt-32">
  <div class="w-3/4">
    <mat-stepper
      [linear]="true"
      (selectionChange)="onStepChange($event)"
      #stepper class="bg-white border border-gray-200 shadow-sm">
      <mat-step label="Address">
        <div id="address-element" class="min-h-[120px] mb-4"></div>
        <div class="flex justify-end mt-1">
          <mat-checkbox [checked]="saveAddress" (change)="onSaveAddressCheckboxChange($event)">
            Save as default address
          </mat-checkbox>
        </div>
          <div class="flex justify-between mt-6">
            <button routerLink="/shop" mat-stroked-button > Continue Shopping</button>
            <button matStepperNext  mat-flat-button> Next</button>
          </div>
      </mat-step>
      <mat-step label="Shipping" >
        <app-checkout-delivery ></app-checkout-delivery>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button> Back</button>
          <button matStepperNext mat-flat-button> Next</button>
        </div>
      </mat-step>
      <mat-step label="Payment" >
        <div id="payment-element" class="min-h-[120px] mb-4 mt-4"></div>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button matStepperNext mat-flat-button>Next</button>
        </div>
      </mat-step>
      <mat-step label="Confirmation">
       <app-checkout-review></app-checkout-review>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="w-1/2">
    <app-order-summary></app-order-summary>
  </div> 
</div>
