<div class="mt-4 w-full">
  <h4 class="text-lg font-semibold">Billing and delivery information</h4>
  <dl>
    <dt class="font-medium">Shipping address</dt>
    <dd class="mt-1 text-gray-500">
      {{ confirmationToken?.shipping | address }}
    </dd>
    <dt class="font-medium">Payment details</dt>
    <dd class="mt-1 text-gray-500">
      {{ confirmationToken?.payment_method_preview | paymentCard }}
    </dd>
  </dl>
</div>

<div class="mt-6 mx-auto p-4">
  <div class="overflow-x-auto border-b border-gray-200">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th
            class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Product
          </th>
          <th
            class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Quantity
          </th>
          <th
            class="p-4 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Price
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for (item of cartService.cart()?.items; track item.productId) {
        <tr>
          <td class="p-4">
            <div class="flex items-center space-x-3">
              <img
                src="{{ item.pictureUrl }}"
                alt="{{ item.productName }}"
                class="h-16 w-16 object-cover rounded"
              />
              <span class="text-sm sm:text-base">{{ item.productName }}</span>
            </div>
          </td>
          <td class="p-4 text-sm sm:text-base">x{{ item.quantity }}</td>
          <td class="p-4 text-right text-sm sm:text-base">
            {{ item.price | currency }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
