:host {
  display: block;
}

mat-card {
  @apply w-full h-[380px] flex flex-col;
}

img {
  @apply w-full h-48 object-contain p-4;
}

mat-card-content {
  @apply flex-grow;

  h2 {
    @apply h-12 overflow-hidden;
  }
}

mat-card-actions {
  @apply p-4;
}

.product-card {
  transition: transform 0.2s, box-shadow 0.2s;
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
